Beaker==1.7.0
decorator==4.0.4
enum34==1.1.3
FormEncode==1.3.0
gunicorn==19.3.0
idna==2.1
ipaddress==1.0.16
MarkupSafe==0.23
nose==1.3.7
optional-django==0.1.0
Paste==2.0.2
PasteDeploy==1.5.2
PasteScript==2.0.2
pyasn1==0.1.9
pycparser==2.14
queuelib==1.4.2
repoze.lru==0.6
Routes==2.2
simplejson==3.8.0
urllib2==0.1.13
WebHelpers==1.3
wheel==0.26.0
